.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
.tbg-header {
  width: 950px;
  margin: 0 auto;
}
.tbg-logo {
  padding: 16px 0 4px 0;
}
.content {
  width: 750px;
  margin: 20px auto 10px;
  border-top: 4px solid #ff8801;
}
.tbg-menu {
  width: 142px;
  float: left;
}
.tbg-menu li {
  height: 35px;
  width: 142px;
}
.tbg-menu li a {
  display: block;
  height: 35px;
  width: 142px;
}
.tbg-menu .about-taobao a {
  background: url(../img/about/li.png) -142px 0 no-repeat;
}
.tbg-menu .about-intro a {
  background: url(../img/about/li.png) 0px -35px no-repeat;
}
.tbg-menu .taobao-news a {
  background: url(../img/about/li.png) 0px -70px no-repeat;
}
.tbg-menu .taobao-service a {
  background: url(../img/about/li.png) 0px -105px no-repeat;
}
.tbg-menu .taobao-partner a {
  background: url(../img/about/li.png) 0px -140px no-repeat;
}
.tbg-menu .taobao-talent a {
  background: url(../img/about/li.png) 0px -210px no-repeat;
}
.right-info {
  float: left;
  margin-left: 8px;
  margin-bottom: 10px;
}
.inner {
  width: 596px;
  margin-top: 10px;
  border: 2px solid #f1f1f1;
  border-top: 0;
  padding-top: 40px;
}
.taobao-intro {
  background: url(../img/about/gongsi.png) no-repeat #f6f6f6;
}
.taobao-intro p {
  margin: 0 0 0 15px;
  width: 570px;
  text-indent: 2em;
  line-height: 1.5em;
}
.mores {
  width: 100%;
  height: 20px;
  padding-top: 10px;
}
.mores a {
  display: block;
  float: right;
  width: 37px;
  height: 11px;
  font-size: 12px;
  margin-right: 15px;
}
.news {
  margin-top: 10px;
  width: 600px;
}
.news a {
  color: #333;
}
.news .mores {
  background: url(../img/about/) left bottom no-repeat;
}
.news .corp-news {
  float: left;
  width: 295px;
  background: url(../img/about/jianjie.png) no-repeat #f6f6f6;
}
.news .corp-news ul {
  margin: 40px 0 0 15px;
}
.news .corp-news ul li {
  padding-left: 10px;
  line-height: 21px;
  background: url(../img/about/dian.png) 0 8px no-repeat;
  text-align: left;
}
.news .media-news {
  float: right;
  width: 295px;
  background: url(../img/about/meiti.png) no-repeat #f6f6f6;
}
.news .media-news ul {
  margin: 40px 0 0 15px;
}
.news .media-news ul li {
  padding-left: 10px;
  line-height: 21px;
  background: url(../img/about/dian.png) 0 8px no-repeat;
}
footer {
  width: 100% !important;
  max-width: 100% !important;
  min-height: 125px;
  margin-top: 20px;
  padding-bottom: 9px;
  background-color: #fff;
  font-size: 12px;
  border-top: 1px solid #ddd;
}
footer .container {
  width: 1190px;
  margin: 0 auto;
}
footer .container .footer-hd {
  padding-top: 7px;
}
footer .container .footer-hd p {
  padding-bottom: 8px;
  overflow: hidden;
  margin-bottom: 8px;
  line-height: 27px;
  border-bottom: 1px solid #ddd;
}
footer .container .footer-hd p span {
  margin: 0 4px;
  color: #9c9c9c;
}
footer .container .footer-hd p span a {
  white-space: nowrap;
  color: #6c6c6c;
  text-decoration: none;
}
footer .container .footer-hd p span a:hover {
  color: #f40;
}
footer .container .footer-hd p b {
  margin: 0 2px;
  font-weight: 400;
  color: #ddd;
}
footer .container .footer-bd p {
  padding-bottom: 8px;
  overflow: hidden;
  white-space: nowrap;
}
footer .container .footer-bd p span {
  color: #9c9c9c;
  margin: 0 4px;
}
footer .container .footer-bd p span a {
  white-space: nowrap;
  color: #6c6c6c;
  text-decoration: none;
}
footer .container .footer-bd p span a .zg-bg {
  display: inline-block;
  background: url(../img/jfjlt.jpg) 0 0 no-repeat;
  background-position: -861px 0px;
  width: 20px;
  height: 20px;
}
footer .container .footer-bd p span a:hover {
  color: #f40;
}
footer .container .footer-bd p b {
  margin: 0 1px;
  font-weight: 400;
  color: #ddd;
}
footer .container .footer-bd p em {
  margin-left: 30px;
  font-style: normal;
  color: #9c9c9c;
}
