body {
  color: #404040;
  background: #fff;
  font: 12px/1.5 "Microsoft YaHei", tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
}
#page .header {
  padding: 22px 0;
}
#page .header .logo {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
#page .header .logo h1 {
  float: left;
  width: 110px;
  height: 44px;
}
#page .header .logo h1 img {
  width: 110px;
}
#page .header .logo .login-msg1 {
  text-align: center;
  width: 880px;
  margin: 0 auto;
  background-color: #fef2f2;
  color: #6C6C6C;
  line-height: 16px;
  padding: 6px 10px;
  overflow: hidden;
  border: 1px solid #ffb4a8;
}
#page .header .logo .login-msg1 > p {
  white-space: normal;
  word-wrap: break-word;
}
#page .header .logo > a {
  float: right;
  line-height: 44px;
  color: #666;
  font-size: 12px;
  text-decoration: none;
}
#page .header .logo > a i {
  font-size: 16px;
  color: #f40;
}
#page .header .content {
  width: 100%;
  position: relative;
}
#page .header .content .login-newbg {
  background: url(../img/register/page-bg.jpg);
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 600px;
}
#page .header .content .login-adlink {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 1000;
}
#page .header .content .login-adlink > a {
  position: absolute;
  width: 630px;
  height: 440px;
  left: 80px;
  top: 80px;
}
#page .header .content .content-layouy {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  height: 600px;
  z-index: 999;
}
#page .header .content .content-layouy .login-box-wrap {
  position: absolute;
  top: 120px;
  right: 60px;
  width: 350px;
}
#page .header .content .content-layouy .login-box-wrap .login-box {
  background-color: rgba(255, 255, 255, 0.9);
  width: 300px;
  padding: 25px 25px 23px;
  color: #6c6c6c;
  position: relative;
  margin: 0 auto;
}
#page .header .content .content-layouy .login-box-wrap .login-box .login-box-hd .login-switch {
  width: 52px;
  height: 52px;
  line-height: 52px;
  position: absolute;
  right: 5px;
  top: 8px;
}
#page .header .content .content-layouy .login-box-wrap .login-box .login-box-hd .login-switch img {
  width: 52px;
  height: 52px;
  cursor: pointer;
}
#page .header .content .content-layouy .login-box-wrap .login-box .login-box-hd .login-switch > .show {
  display: block;
}
#page .header .content .content-layouy .login-box-wrap .login-box .login-box-hd .login-switch > .hide {
  display: none;
}
#page .header .content .content-layouy .login-box-wrap .login-box .login-box-hd .login-tip {
  position: absolute;
  top: 5px;
  right: 58px;
}
#page .header .content .content-layouy .login-box-wrap .login-box .login-box-hd .login-tip .poptip {
  border: 1px solid #f3d995;
  height: 16px;
  line-height: 16px;
  padding: 5px 20px 5px 15px;
  background: #fefcee;
  position: relative;
}
#page .header .content .content-layouy .login-box-wrap .login-box .login-box-hd .login-tip .poptip .poptip-arrow {
  top: 8px;
  right: 0;
  position: absolute;
  z-index: 10;
}
#page .header .content .content-layouy .login-box-wrap .login-box .login-box-hd .login-tip .poptip .poptip-arrow em {
  border-color: rgba(255, 255, 255, 0);
  top: 0;
  left: 1px;
  border-left-color: #f3d995;
  border-width: 6px 0 6px 6px;
  border-style: solid;
  overflow: hidden;
  width: 0;
  height: 0;
  position: absolute;
}
#page .header .content .content-layouy .login-box-wrap .login-box .login-box-hd .login-tip .poptip .poptip-arrow span {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #fefcee;
  border-width: 6px 0 6px 6px;
  border-style: solid;
  overflow: hidden;
  width: 0;
  height: 0;
  position: absolute;
}
#page .header .content .content-layouy .login-box-wrap .login-box .login-box-hd .login-tip .poptip .poptip-content {
  color: #df9c1f;
  font-size: 12px;
  font-weight: 400;
}
#page .header .content .content-layouy .login-box-wrap .login-box .login-box-hd .login-tip .poptip .poptip-content i {
  color: #df9c1f;
  font-size: 14px;
  margin-right: 8px;
}
#page .header .content .content-layouy .login-box-wrap .login-box .login-box-bd .log-in {
  position: relative;
}
#page .header .content .content-layouy .login-box-wrap .login-box .login-box-bd .log-in .log-title {
  height: 18px;
  line-height: 18px;
  font-size: 16px;
  color: #3c3c3c;
  margin-top: 9px;
  padding-bottom: 8px;
  font-weight: 700;
}
#page .header .content .content-layouy .login-box-wrap .login-box .login-box-bd .log-in .field {
  margin-top: 20px;
  position: relative;
}
#page .header .content .content-layouy .login-box-wrap .login-box .login-box-bd .log-in .field label {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #ddd;
  text-align: center;
  position: absolute;
  left: 1px;
  top: 1px;
  outline: 0;
}
#page .header .content .content-layouy .login-box-wrap .login-box .login-box-bd .log-in .field input {
  width: 240px;
  font-size: 14px;
  line-height: 18px;
  height: 18px;
  padding: 11px 8px 11px 50px;
  border: 1px solid #ddd;
}
#page .header .content .content-layouy .login-box-wrap .login-box .login-box-bd .log-in .submit {
  margin-top: 20px;
}
#page .header .content .content-layouy .login-box-wrap .login-box .login-box-bd .log-in .submit #submit {
  width: 300px;
  height: 42px;
  border: 0;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  line-height: 42px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background: #f40;
  border-radius: 3px;
  cursor: pointer;
}
#page .header .content .content-layouy .login-box-wrap .login-box .login-box-bd .log-in ul li {
  margin-top: 24px;
  line-height: 14px;
}
#page .header .content .content-layouy .login-box-wrap .login-box .login-box-bd .log-in ul li a {
  display: inline-block;
  margin-right: 20px;
  color: #6c6c6c;
}
#page .header .content .content-layouy .login-box-wrap .login-box .login-box-bd .log-in ul li a i {
  font-size: 16px;
  margin-right: 3px;
}
#page .header .content .content-layouy .login-box-wrap .login-box .login-box-bd .log-in ul li a .wb {
  color: #e52425;
}
#page .header .content .content-layouy .login-box-wrap .login-box .login-box-bd .log-in ul li a .zfb {
  color: #1ba9ee;
}
#page .header .content .content-layouy .login-box-wrap .login-box .login-box-bd .log-in .login-links {
  margin-top: 25px;
  overflow: hidden;
  text-align: right;
}
#page .header .content .content-layouy .login-box-wrap .login-box .login-box-bd .log-in .login-links a {
  margin-right: 10px;
  color: #6c6c6c;
}
#page .header .content .content-layouy .login-box-wrap .login-box .login-box-bd .log-in .login-msg {
  border: 1px solid;
  border-color: #ffb4a8;
  background-color: #fef2f2;
  color: #6C6C6C;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 16px;
  padding: 6px 10px;
  overflow: hidden;
  width: 278px;
  background: #fef2f2;
}
#page .header .content .content-layouy .login-box-wrap .login-box .login-box-bd .log-in .login-msg i {
  padding-right: 10px;
  float: left;
  font-size: 16px;
  color: #f40;
}
#page .header .content .content-layouy .login-box-wrap .login-box .login-box-bd .log-in .login-msg span {
  float: left;
  white-space: normal;
  word-wrap: break-word;
  width: 240px;
}
.footer {
  position: relative;
  margin: 60px auto 0;
  padding: 7px 0 9px;
  border-top: 1px solid #ddd;
  width: 1200px;
}
.footer .footer-hd p {
  margin-bottom: 8px;
  line-height: 27px;
  border-bottom: 1px solid #ddd;
}
.footer .footer-hd p a {
  display: inline;
  float: left;
  margin: 0 4px;
  white-space: nowrap;
  color: #6c6c6c;
}
.footer .footer-hd p b {
  display: inline;
  float: left;
  margin: 0 3px;
  font-weight: 400;
  color: #ddd;
}
.footer .footer-bd p {
  padding-bottom: 8px;
  overflow: hidden;
}
.footer .footer-bd p a {
  display: inline;
  float: left;
  margin: 0 4px;
  white-space: nowrap;
  color: #6c6c6c;
}
.footer .footer-bd p em {
  display: inline;
  float: left;
  white-space: nowrap;
  color: #9c9c9c;
}
.footer .footer-bd p:nth-last-child(1) span {
  display: inline;
  float: left;
  margin: 0 4px;
  white-space: nowrap;
  color: #9c9c9c;
}
.footer .footer-bd p:nth-last-child(1) span a {
  display: inline;
  float: left;
  margin: 0 4px;
  white-space: nowrap;
  color: #6c6c6c;
}
.footer .footer-bd p:nth-last-child(1) b {
  float: left;
  margin: 0 4px;
  color: #9c9c9c;
}
