/* 重置样式 */

html,
body,
header,
footer,
section,
form,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
dl,
dd,
dt,
input {
    margin: 0;
    padding: 0
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

html,
body {
    height: 100%
}

body {
    font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
    margin: 0px;
    padding: 0px;
    color: #343434;
    background-color: #f4f4f4;
}

body a:hover {
    color: #F40;
}

i,
em,
b,
strong {
    font-style: normal;
    font-weight: normal;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

@font-face {
    font-family: 'iconfont';
    src: url('iconfont.eot');
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), url('iconfont.woff2') format('woff2'), url('iconfont.woff') format('woff'), url('iconfont.ttf') format('truetype'), url('iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}