header .content {
  width: 1190px;
  margin: 0 auto;
  position: relative;
}
header .content .header {
  position: relative;
  height: 43px;
  padding: 20px 0;
}
header .content .header h1 {
  display: inline-block;
  width: 106px;
  height: 43px;
  overflow: hidden;
  vertical-align: middle;
}
header .content .header h1 img {
  width: 106px;
}
header .content .header h2 {
  display: inline-block;
  height: 43px;
  line-height: 43px;
  margin-left: 6px;
  font-size: 22px;
  font-family: "\5FAE\8F6F\96C5\9ED1", "\534E\6587\7EC6\9ED1", "\9ED1\4F53", arial;
  font-weight: 600;
  vertical-align: middle;
}
header .content .search {
  float: right;
  width: 515px;
  position: absolute;
  right: 0;
  top: 27px;
}
header .content .search .search-triggers {
  position: relative;
  z-index: 1000;
}
header .content .search .search-triggers ul {
  width: 74px;
  position: absolute;
  z-index: 1;
  left: 3px;
  top: 3px;
  height: 29px;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #f5f5f5;
  background-color: #f4f4f4;
}
header .content .search .search-triggers ul li {
  display: none;
  width: 100%;
  background-color: #f4f4f4;
  text-align: center;
  line-height: 29px;
}
header .content .search .search-triggers ul .selected {
  display: block;
}
header .content .search .search-triggers i {
  line-height: 0;
  border-width: 4px;
  border-color: #666 transparent transparent;
  border-style: solid dashed dashed;
  height: 0;
  position: absolute;
  top: 16px;
  font-size: 0;
  left: 60px;
  z-index: 10;
}
header .content .search .search-button {
  position: relative;
  z-index: 1;
  float: right;
  background: #fff;
}
header .content .search .search-button button {
  height: 35px;
  width: 93px;
  cursor: pointer;
  border: 0;
  font-size: 18px;
  text-indent: -999em;
  background: url(../img/jlt3.png) no-repeat 0 -204px;
}
header .content .search .field {
  height: 35px;
  background: #f50;
  position: relative;
  overflow: hidden;
}
header .content .search .field .search-combobox {
  margin-left: 79px;
  height: 29px;
  margin-right: 0;
  margin-top: 3px;
  background: #fff;
  font-size: 12px;
}
header .content .search .field .search-combobox input {
  margin-left: 0;
  text-indent: 10px;
  width: 100%;
  font-size: 14px;
  border: 0 none;
  border-top: 1px solid #f5f5f5;
  z-index: 2;
  height: 29px;
  line-height: 29px;
  vertical-align: middle;
  background-color: #fff;
  color: #000;
}
header .content .cart {
  min-height: 400px;
}
header .content .cart .filter-bar {
  overflow: hidden;
  font-size: 12px;
  position: relative;
}
header .content .cart .filter-bar .cartswitch {
  overflow: hidden;
  height: 33px;
}
header .content .cart .filter-bar .cartswitch > li:nth-child(1) a em {
  color: #f40;
}
header .content .cart .filter-bar .cartswitch .btn-switch-cart {
  float: left;
  font-weight: 700;
  font-size: 16px;
  height: 16px;
  line-height: 1.1;
  font-family: 'Hiragino Sans GB', 'Lantinghei SC', 'Microsoft Yahei', SimSun;
  text-align: center;
  padding: 0 0 15px 0;
  cursor: pointer;
  margin-left: -1px;
}
header .content .cart .filter-bar .cartswitch .btn-switch-cart a {
  padding-left: 15px;
  text-decoration: none;
  color: #3c3c3c;
}
header .content .cart .filter-bar .cartswitch .btn-switch-cart a em {
  color: #3c3c3c;
  font-weight: 700;
}
header .content .cart .filter-bar .cartswitch .btn-switch-cart a .number {
  color: #f40;
  font-size: 14px;
  margin: 0 30px 0 5px;
  font-weight: 400;
}
header .content .cart .filter-bar .cartswitch .btn-switch-cart a .allnumber {
  color: #f40;
  font-size: 14px;
  margin: 0 30px 0 5px;
  font-weight: 400;
}
header .content .cart .filter-bar .cartswitch .btn-switch-cart a .pipe {
  width: 1px;
  height: 12px;
  display: inline-block;
  background: #e8e8e8;
}
header .content .cart .filter-bar .cart-num {
  position: absolute;
  right: 0;
  top: 0;
  height: 25px;
  line-height: 25px;
}
header .content .cart .filter-bar .cart-num strong {
  font-family: Arial,Verdana;
  font-weight: 700;
  margin-right: 5px;
  color: #f40;
}
header .content .cart .filter-bar .cart-num strong em {
  font-family: Verdana,Arial;
  padding-left: 2px;
  font-weight: 700;
}
header .content .cart .filter-bar .cart-num a {
  display: inline-block;
  background: #aaa;
  color: #fff;
  cursor: not-allowed;
  width: 55px;
  text-align: center;
}
header .content .cart .filter-bar .cart-num .submit-btn {
  display: inline-block;
  width: 55px;
  border-radius: 2px;
  text-align: center;
  background: #f40;
  color: #fff;
  cursor: pointer;
}
header .content .cart .cart-main {
  border-top: 2px solid  #aaa;
  min-height: 210px;
}
header .content .cart .cart-main .cart-table {
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  color: #3c3c3c;
}
header .content .cart .cart-main .cart-table .td-inner {
  padding: 0 0 0 10px;
}
header .content .cart .cart-main .cart-table .th {
  float: left;
}
header .content .cart .cart-main .cart-table .th-chk {
  font-size: 12px;
  text-align: left;
  position: relative;
  height: 50px;
  width: 50px;
}
header .content .cart .cart-main .cart-table .th-chk .select-all {
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  cursor: pointer;
}
header .content .cart .cart-main .cart-table .th-chk .select-all .cart-checkbox {
  margin: -1px 0 0 15px;
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  overflow: hidden;
  line-height: 18px;
}
header .content .cart .cart-main .cart-table .th-chk .select-all .cart-checkbox input {
  position: absolute;
  z-index: 0;
  left: -20px;
  top: -20px;
}
header .content .cart .cart-main .cart-table .th-chk .select-all .cart-checkbox label {
  position: relative;
  z-index: 1;
  float: left;
  width: 15px;
  height: 15px;
  top: 2px;
  left: 1px;
  line-height: 200em;
  overflow: hidden;
  cursor: pointer;
  background: url(../img/jlt4.png) no-repeat;
  background-position: 0 0;
}
header .content .cart .cart-main .cart-table .th-item {
  width: 342px;
  padding-left: 91px;
}
header .content .cart .cart-main .cart-table .th-item .td-inner {
  padding: 0 0 0 10px;
}
header .content .cart .cart-main .cart-table .th-info {
  width: 180px;
}
header .content .cart .cart-main .cart-table .th-info .td-inner {
  padding: 0 0 0 10px;
}
header .content .cart .cart-main .cart-table .th-price {
  width: 130px;
}
header .content .cart .cart-main .cart-table .th-amount {
  width: 120px;
}
header .content .cart .cart-main .cart-table .th-sum {
  width: 140px;
}
header .content .cart .cart-main .cart-table .td-op {
  width: 119px;
  padding: 0 0 0 30px;
}
header .content .cart .cart-main .order {
  margin-bottom: 15px;
}
header .content .cart .cart-main .order .item-list {
  position: relative;
  background: #fcfcfc;
  border: 1px solid #ccc;
}
header .content .cart .cart-main .order .item-list > ul .td {
  float: left;
  min-height: 119px;
}
header .content .cart .cart-main .order .item-list > ul .td .td-inner {
  padding-top: 20px;
}
header .content .cart .cart-main .order .item-list > ul .td-chk {
  position: relative;
  overflow: hidden;
  width: 50px;
}
header .content .cart .cart-main .order .item-list > ul .td-chk .cart-checkbox {
  margin: 0 10px 0 0;
  float: right;
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
header .content .cart .cart-main .order .item-list > ul .td-chk .cart-checkbox input {
  position: absolute;
  z-index: 0;
  left: -20px;
  top: -20px;
}
header .content .cart .cart-main .order .item-list > ul .td-chk .cart-checkbox label {
  position: relative;
  z-index: 1;
  float: left;
  width: 15px;
  height: 15px;
  background-position: 0 0;
  line-height: 200em;
  overflow: hidden;
  cursor: pointer;
  background: url(../img/jlt4.png) no-repeat;
}
header .content .cart .cart-main .order .item-list > ul .td-item {
  width: 342px;
}
header .content .cart .cart-main .order .item-list > ul .td-item .item-pic {
  background: #fff;
  width: 80px;
  height: 80px;
  border: 1px solid #eee;
  float: left;
  overflow: hidden;
}
header .content .cart .cart-main .order .item-list > ul .td-item .item-pic a {
  display: table-cell;
  width: 80px;
  height: 80px;
  vertical-align: middle;
  text-align: center;
}
header .content .cart .cart-main .order .item-list > ul .td-item .item-pic a img {
  max-height: 80px;
  max-width: 80px;
  vertical-align: middle;
}
header .content .cart .cart-main .order .item-list > ul .td-item .item-info {
  margin: -3px 0 0 91px;
  padding-right: 25px;
}
header .content .cart .cart-main .order .item-list > ul .td-item .item-info .item-basic-info {
  min-height: 40px;
}
header .content .cart .cart-main .order .item-list > ul .td-item .item-info .item-basic-info a {
  font-size: 12px;
  display: block;
  max-height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #3c3c3c;
}
header .content .cart .cart-main .order .item-list > ul .td-item .item-info .item-basic-info a:hover {
  color: #f60;
  text-decoration: underline;
}
header .content .cart .cart-main .order .item-list > ul .td-item .item-info .item-other-info .promo-logos {
  overflow: hidden;
  min-height: 26px;
}
header .content .cart .cart-main .order .item-list > ul .td-item .item-info .item-icon-list {
  margin-bottom: 3px;
}
header .content .cart .cart-main .order .item-list > ul .td-item .item-info .item-icon-list span {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}
header .content .cart .cart-main .order .item-list > ul .td-item .item-info .item-icon-list .item-icon-1 {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}
header .content .cart .cart-main .order .item-list > ul .td-item .item-info .item-icon-list .item-icon-2 {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}
header .content .cart .cart-main .order .item-list > ul .td-info {
  float: left;
  min-height: 119px;
  overflow: hidden;
  width: 212px;
  padding-right: 40px;
}
header .content .cart .cart-main .order .item-list > ul .td-price {
  color: #9c9c9c;
  width: 130px;
}
header .content .cart .cart-main .order .item-list > ul .td-price .td-inner .price-content {
  color: #9c9c9c;
  padding: 8px 0 0 10px;
  line-height: 1;
  width: 74px;
  background: #f5f5f5;
}
header .content .cart .cart-main .order .item-list > ul .td-price .td-inner .price-content .price-line {
  padding: 0 0 4px 0;
  font-family: Verdana,Tahoma,arial;
}
header .content .cart .cart-main .order .item-list > ul .td-price .td-inner .price-content .price-line .pre-discount {
  color: #9c9c9c;
  text-decoration: line-through;
  font-family: Verdana,Tahoma,arial;
}
header .content .cart .cart-main .order .item-list > ul .td-price .td-inner .price-content .price-line .pre-now {
  color: #3c3c3c;
  font-weight: 700;
  font-family: Verdana,Tahoma,arial;
}
header .content .cart .cart-main .order .item-list > ul .td-amount {
  width: 120px;
}
header .content .cart .cart-main .order .item-list > ul .td-amount .td-inner .item-amount {
  height: 25px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  width: 77px;
}
header .content .cart .cart-main .order .item-list > ul .td-amount .td-inner .item-amount a {
  display: block;
  height: 23px;
  width: 17px;
  border: 1px solid #e5e5e5;
  background: #f0f0f0;
  text-align: center;
  line-height: 23px;
  color: #444;
  position: absolute;
  top: 0;
}
header .content .cart .cart-main .order .item-list > ul .td-amount .td-inner .item-amount .tallydown {
  border-left-color: transparent;
  left: 0;
}
header .content .cart .cart-main .order .item-list > ul .td-amount .td-inner .item-amount .plusone {
  border-right-color: transparent;
  right: 0;
}
header .content .cart .cart-main .order .item-list > ul .td-amount .td-inner .item-amount .text-amount {
  width: 39px;
  height: 15px;
  line-height: 15px;
  border: 1px solid #aaa;
  color: #343434;
  text-align: center;
  padding: 4px 0;
  background-color: #fff;
  background-position: -75px -375px;
  position: absolute;
  z-index: 2;
  left: 18px;
  top: 0;
  float: left;
}
header .content .cart .cart-main .order .item-list > ul .td-amount .td-inner .item-amount .plusone {
  border-left-color: transparent;
  right: 0;
}
header .content .cart .cart-main .order .item-list > ul .td-sum {
  color: #f40;
  font-weight: 700;
  width: 140px;
  padding-left: 15px;
}
header .content .cart .cart-main .order .item-list > ul .td-sum em {
  font-family: Verdana,Tahoma,arial;
  color: #f40;
  font-weight: 700;
}
header .content .cart .cart-main .order .item-list > ul .td-op {
  padding: 0 0 0 12px;
}
header .content .cart .cart-main .order .item-list > ul .td-op .td-inner a {
  display: block;
  padding-bottom: 3px;
  color: #3c3c3c;
}
header .content .cart .cart-main .float-bar-holder {
  position: relative;
  height: 50px;
}
header .content .cart .cart-main .float-bar-holder .float-bar-wrapper {
  width: 1190px;
  overflow: hidden;
  background: #e5e5e5;
}
header .content .cart .cart-main .float-bar-holder .float-bar-wrapper .select-all {
  float: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  padding-left: 5px;
  cursor: pointer;
}
header .content .cart .cart-main .float-bar-holder .float-bar-wrapper .select-all .cart-checkbox {
  vertical-align: middle;
  margin-top: -2px;
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
header .content .cart .cart-main .float-bar-holder .float-bar-wrapper .select-all .cart-checkbox input {
  position: absolute;
  z-index: 0;
  left: -20px;
  top: -20px;
}
header .content .cart .cart-main .float-bar-holder .float-bar-wrapper .select-all .cart-checkbox label {
  position: relative;
  z-index: 1;
  float: left;
  width: 15px;
  height: 15px;
  top: 2px;
  left: 1px;
  line-height: 200em;
  overflow: hidden;
  cursor: pointer;
  background: url(../img/jlt4.png) no-repeat;
  background-position: 0 0;
}
header .content .cart .cart-main .float-bar-holder .float-bar-wrapper .operation {
  float: left;
  line-height: 50px;
  height: 50px;
}
header .content .cart .cart-main .float-bar-holder .float-bar-wrapper .operation a {
  margin-left: 25px;
  float: left;
  color: #3c3c3c;
}
header .content .cart .cart-main .float-bar-holder .float-bar-wrapper .float-bar-right {
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
  padding-left: 20px;
  background: #e5e5e5;
}
header .content .cart .cart-main .float-bar-holder .float-bar-wrapper .float-bar-right .amount-sum {
  cursor: pointer;
  height: 48px;
  color: #3c3c3c;
  float: left;
}
header .content .cart .cart-main .float-bar-holder .float-bar-wrapper .float-bar-right .amount-sum span {
  float: left;
  line-height: 48px;
}
header .content .cart .cart-main .float-bar-holder .float-bar-wrapper .float-bar-right .amount-sum em {
  line-height: 48px;
  float: left;
  color: #f40;
  font-weight: 700;
  font-size: 18px;
  font-family: arial;
  line-height: 50px;
  padding: 0 5px;
}
header .content .cart .cart-main .float-bar-holder .float-bar-wrapper .float-bar-right .price-sum {
  height: 48px;
  color: #3c3c3c;
  float: left;
  margin-left: 20px;
}
header .content .cart .cart-main .float-bar-holder .float-bar-wrapper .float-bar-right .price-sum > span {
  float: left;
  line-height: 48px;
}
header .content .cart .cart-main .float-bar-holder .float-bar-wrapper .float-bar-right .price-sum strong {
  color: #f40;
  font-weight: 400;
  font-size: 18px;
  line-height: 48px;
  font-family: Arial;
  vertical-align: middle;
}
header .content .cart .cart-main .float-bar-holder .float-bar-wrapper .float-bar-right .price-sum strong .price {
  font-weight: 700;
  font-size: 22px;
  padding: 0 3px;
  line-height: 48px;
  font-family: Arial;
}
header .content .cart .cart-main .float-bar-holder .float-bar-wrapper .float-bar-right .btn-area {
  float: left;
}
header .content .cart .cart-main .float-bar-holder .float-bar-wrapper .float-bar-right .btn-area a {
  background: #B0B0B0;
  color: #fff;
  border-left: 1px solid #e7e7e7;
  display: inline-block;
  cursor: not-allowed;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  width: 119px;
  font-size: 20px;
  text-align: center;
}
header .content .cart .cart-main .float-bar-holder .float-bar-wrapper .float-bar-right .btn-area .submit-btn {
  border-radius: 2px;
  text-decoration: none;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  background: #f40;
  text-align: center;
  font-family: 'Lantinghei SC', 'Microsoft Yahei';
  font-size: 20px;
}
footer {
  width: 100% !important;
  max-width: 100% !important;
  min-height: 125px;
  margin-top: 20px;
  padding-bottom: 9px;
  background-color: #fff;
  font-size: 12px;
  border-top: 1px solid #ddd;
}
footer .container {
  width: 1190px;
  margin: 0 auto;
}
footer .container .footer-hd {
  padding-top: 7px;
}
footer .container .footer-hd p {
  padding-bottom: 8px;
  overflow: hidden;
  margin-bottom: 8px;
  line-height: 27px;
  border-bottom: 1px solid #ddd;
}
footer .container .footer-hd p span {
  margin: 0 4px;
  color: #9c9c9c;
}
footer .container .footer-hd p span a {
  white-space: nowrap;
  color: #6c6c6c;
  text-decoration: none;
}
footer .container .footer-hd p span a:hover {
  color: #f40;
}
footer .container .footer-hd p b {
  margin: 0 2px;
  font-weight: 400;
  color: #ddd;
}
footer .container .footer-bd p {
  padding-bottom: 8px;
  overflow: hidden;
  white-space: nowrap;
}
footer .container .footer-bd p span {
  color: #9c9c9c;
  margin: 0 4px;
}
footer .container .footer-bd p span a {
  white-space: nowrap;
  color: #6c6c6c;
  text-decoration: none;
}
footer .container .footer-bd p span a .zg-bg {
  display: inline-block;
  background: url(../img/jfjlt.jpg) 0 0 no-repeat;
  background-position: -861px 0px;
  width: 20px;
  height: 20px;
}
footer .container .footer-bd p span a:hover {
  color: #f40;
}
footer .container .footer-bd p b {
  margin: 0 1px;
  font-weight: 400;
  color: #ddd;
}
footer .container .footer-bd p em {
  margin-left: 30px;
  font-style: normal;
  color: #9c9c9c;
}
.order-content {
  margin-bottom: 10px;
}
