.tbh-nav {
  background-color: transparent;
}
.tbh-nav .container {
  box-sizing: border-box;
  margin: 0 auto;
  height: 30px;
  line-height: 30px;
  position: relative;
  color: #fff;
  background-image: linear-gradient(to right, #ff9000 0, #ff5000 100%);
  background-repeat: repeat-x;
}
.tbh-nav .container h2 {
  float: left;
  width: 190px;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  background: #ff5000;
  font-weight: bold;
}
.tbh-nav .container .nav-hd {
  float: left;
  font-size: 16px;
  font-weight: 700;
}
.tbh-nav .container .nav-hd li {
  margin: 0 3px;
  text-align: center;
  padding: 0 4px;
  float: left;
  position: relative;
  z-index: 5;
}
.tbh-nav .container .nav-bd {
  float: left;
  font-size: 14px;
}
.tbh-nav .container .nav-bd li {
  position: relative;
  margin-left: 7px;
  float: left;
  z-index: 5;
}
.tbh-nav .container .nav-bd li:nth-child(1):hover::before {
  content: '' !important;
}
.tbh-nav .container li:hover::before {
  content: '\e75b';
  font-family: "iconfont";
  color: #ff5000;
  top: -10px;
  position: absolute;
  left: 50%;
  font-size: 25px;
  line-height: 30px;
  margin-left: -15px;
  height: 10px;
  overflow: hidden;
}
.tbh-nav .container .nav-bd a,
.tbh-nav .container .nav-hd a {
  float: left;
  padding: 0 5px;
  color: #fff;
  font-weight: 700;
}
.screen-outer {
  height: 632px;
}
.screen-outer .container {
  box-sizing: border-box;
}
.screen-outer .container .main {
  float: left;
  width: 900px;
  height: 100%;
}
.screen-outer .container .main .main-inner .inner-left {
  position: relative;
  float: left;
  width: 190px;
  min-height: 0;
  background-color: #FFF;
  height: 522px;
  font-size: 14px;
  border: 1px solid #ff5000;
  border-top: none;
  padding-top: 5px;
  padding-bottom: 3px;
  box-sizing: border-box;
  overflow: hidden;
}
.screen-outer .container .main .main-inner .inner-left li {
  overflow: hidden;
  line-height: 32px;
  height: 32px;
  padding-left: 25px;
  padding-right: 19px;
  position: relative;
  font-size: 14px;
  font-weight: 400;
  width: 145px;
  color: #666;
}
.screen-outer .container .main .main-inner .inner-left li a {
  color: #666;
}
.screen-outer .container .main .main-inner .inner-left li a:hover {
  text-decoration: underline;
}
.screen-outer .container .main .main-inner .inner-left li i {
  position: absolute;
  right: 10px;
  font-size: 12px;
}
.screen-outer .container .main .main-inner .inner-left li:hover {
  background-color: #ffe4dc;
  color: #FF5000;
}
.screen-outer .container .main .main-inner .inner-left li:hover a {
  color: #FF5000;
}
.screen-outer .container .main .main-inner .inner-center {
  margin-left: 10px;
  margin-top: 10px;
  float: left;
  height: 512px;
  width: 520px;
}
.screen-outer .container .main .main-inner .inner-center .inner-center-top {
  width: 520px;
  height: 280px;
  overflow: hidden;
  background-color: #FFF;
  position: relative;
}
.screen-outer .container .main .main-inner .inner-center .inner-center-top > div {
  width: 3400px;
  height: 100%;
  position: absolute;
}
.screen-outer .container .main .main-inner .inner-center .inner-center-top > div > div {
  float: left;
}
.screen-outer .container .main .main-inner .inner-center .inner-center-top > div > div > a {
  float: left;
}
.screen-outer .container .main .main-inner .inner-center .inner-center-top > div > div > a > img {
  float: left;
}
.screen-outer .container .main .main-inner .inner-center .inner-center-top:hover i {
  display: block;
}
.screen-outer .container .main .main-inner .inner-center .inner-center-top > i {
  display: none;
  height: 30px;
  width: 20px;
  line-height: 30px;
  color: #fff;
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  background-clip: padding-box;
  text-align: center;
}
.screen-outer .container .main .main-inner .inner-center .inner-center-top > i:nth-last-of-type(2) {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  left: 0;
}
.screen-outer .container .main .main-inner .inner-center .inner-center-top > i:nth-last-of-type(1) {
  right: 0 ;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.screen-outer .container .main .main-inner .inner-center .inner-center-top:hover i {
  display: block;
  cursor: pointer;
}
.screen-outer .container .main .main-inner .inner-center .inner-center-top > ul {
  border-radius: 10px;
  position: absolute;
  bottom: 15px;
  height: 13px;
  text-align: center;
  font-size: 0;
  left: 50%;
  margin-left: -39px;
  background-color: rgba(255, 255, 255, 0.3);
}
.screen-outer .container .main .main-inner .inner-center .inner-center-top > ul > li {
  display: inline-block;
  margin: 3px;
  padding-top: 8px;
  width: 8px;
  height: 0;
  border-radius: 50%;
  background: #fff;
}
.screen-outer .container .main .main-inner .inner-center .inner-center-top > ul > .show-li {
  background: #ff5000 !important;
}
.screen-outer .container .main .main-inner .inner-center .inner-center-bot {
  background-color: #FFF;
  position: relative;
  width: 520px;
  height: 230px;
  margin-top: 1px;
  overflow: hidden;
}
.screen-outer .container .main .main-inner .inner-center .inner-center-bot .banner-top {
  font-size: 14px;
  padding-top: 11px;
  border-bottom: 3px solid #ff1648;
  position: relative;
  background-color: #f1f1f1;
  height: 18px;
  line-height: 18px;
}
.screen-outer .container .main .main-inner .inner-center .inner-center-bot .banner-top span {
  width: 136px;
  position: absolute;
  height: 19px;
  background: url(../img/tianmaologo.png) no-repeat;
  background-position: 2px 0;
  background-size: 122px 22px;
}
.screen-outer .container .main .main-inner .inner-center .inner-center-bot .banner-top em {
  font-size: 12px;
  color: #666;
  position: relative;
  margin-left: 136px;
}
.screen-outer .container .main .main-inner .inner-center .inner-center-bot .banner-bot {
  width: 520px;
  height: 201px;
  position: relative;
}
.screen-outer .container .main .main-inner .inner-center .inner-center-bot .banner-bot > div {
  position: absolute;
  overflow: hidden;
  width: 4160px;
  left: 0px;
}
.screen-outer .container .main .main-inner .inner-center .inner-center-bot .banner-bot > div div {
  float: left;
  overflow: hidden;
  width: 520px;
  position: relative;
  height: 201px;
  background: #FFF;
}
.screen-outer .container .main .main-inner .inner-center .inner-center-bot .banner-bot > div div a {
  border-color: #ebebeb;
  margin-top: 6px;
  width: 251px;
  height: 190px;
  overflow: hidden;
  margin-left: 6px;
  float: left;
}
.screen-outer .container .main .main-inner .inner-center .inner-center-bot .banner-bot > div div a img {
  width: 100%;
  height: 100%;
}
.screen-outer .container .main .main-inner .inner-center .inner-center-bot .banner-bot > div .item1 {
  height: 201px;
  float: left;
}
.screen-outer .container .main .main-inner .inner-center .inner-center-bot .banner-bot > div .item1 a {
  float: left;
  width: 129px;
  height: 57px;
  text-align: center;
  border: 0;
  padding: 5px 0;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  overflow: hidden;
  margin: 0;
}
.screen-outer .container .main .main-inner .inner-center .inner-center-bot .banner-bot > div .item1 a img {
  width: 84px;
  height: auto;
  margin-top: 10px;
}
.screen-outer .container .main .main-inner .inner-center .inner-center-bot .banner-bot > strong {
  position: absolute;
  right: 0;
  top: -20px;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 400;
  z-index: 10;
}
.screen-outer .container .main .main-inner .inner-center .inner-center-bot .banner-bot > strong i {
  font-style: normal;
  color: #ff1648;
}
.screen-outer .container .main .main-inner .inner-center .inner-center-bot .banner-bot:hover > i {
  display: block;
}
.screen-outer .container .main .main-inner .inner-center .inner-center-bot .banner-bot > i {
  display: none;
  height: 30px;
  width: 20px;
  line-height: 30px;
  color: #fff;
  position: absolute;
  top: 85px;
  background-color: rgba(0, 0, 0, 0.3);
  background-clip: padding-box;
  text-align: center;
}
.screen-outer .container .main .main-inner .inner-center .inner-center-bot .banner-bot > i:nth-last-of-type(2) {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  left: 0;
}
.screen-outer .container .main .main-inner .inner-center .inner-center-bot .banner-bot > i:nth-last-of-type(1) {
  right: 0 ;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.screen-outer .container .main .main-inner .inner-center .inner-center-bot .banner-bot:hover > i {
  display: block;
  cursor: pointer;
}
.screen-outer .container .main .main-inner .inner-center .inner-center-bot .banner-bot > ul {
  position: absolute;
  top: -3px;
  height: 3px;
  line-height: 0;
  width: 520px;
  font-size: 0;
}
.screen-outer .container .main .main-inner .inner-center .inner-center-bot .banner-bot > ul > li {
  display: inline-block;
  width: 87px;
  height: 3px;
  background: #ff1648;
  overflow: hidden;
  margin: 0;
  line-height: 0;
  font-size: 0;
}
.screen-outer .container .main .main-inner .inner-center .inner-center-bot .banner-bot > ul > li:nth-last-child(1),
.screen-outer .container .main .main-inner .inner-center .inner-center-bot .banner-bot > ul > li:nth-last-child(2) {
  width: 86px;
}
.screen-outer .container .main .main-inner .inner-center .inner-center-bot .banner-bot > ul > .show-li {
  background: #000;
}
.screen-outer .container .main .main-inner .inner-right {
  float: right;
  width: 160px;
  height: 512px;
  margin-right: 10px;
  margin-top: 10px;
}
.screen-outer .container .main .main-inner .inner-right .inner-right-top {
  overflow: hidden;
  height: 280px;
  background-color: #FFF;
}
.screen-outer .container .main .main-inner .inner-right .inner-right-bot {
  margin-top: 1px;
  height: 230px;
  overflow: hidden;
  background-color: #FFF;
}
.screen-outer .container .main .main-inner .inner-right .inner-right-bot h5 {
  font-size: 12px;
  font-weight: 400;
  background: #f1f1f1;
  color: #a1a1a1;
  line-height: 24px;
  padding-top: 6px;
}
.screen-outer .container .main .main-bot {
  width: 890px;
  height: 100px;
}
.screen-outer .container .main .main-bot > div {
  width: 890px;
  height: 100px;
  position: relative;
  padding: 14px 14px 12px 20px;
  margin-top: 10px;
  background: #fff;
  box-sizing: border-box;
}
.screen-outer .container .main .main-bot > div > h3 {
  width: 180px;
  height: 73px;
  float: left;
  background: url(../img/toutiaologo.png) 0 14px no-repeat;
}
.screen-outer .container .main .main-bot > div > h3 > p {
  line-height: 24px;
  height: 24px;
  color: #999;
  font-weight: 400;
  margin-top: 42px;
}
.screen-outer .container .main .main-bot > div > h3 > p span {
  font-size: 12px;
}
.screen-outer .container .main .main-bot > div > a {
  position: absolute;
  top: 14px;
  right: 16px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  z-index: 1;
  background: #fff;
  color: #999;
  width: 40px;
  text-align: right;
}
.screen-outer .container .main .main-bot > div > a > i {
  font-size: 10px;
  float: right;
  width: 12px;
  text-align: center;
  position: relative;
  top: 1px;
}
.screen-outer .container .main .main-bot > div > a:hover {
  color: #ff5000;
}
.screen-outer .container .main .main-bot > div > .headline-bd {
  height: 73px;
  overflow: hidden;
  width: 676px;
  position: relative;
  margin-left: 180px;
}
.screen-outer .container .main .main-bot > div > .headline-bd > div {
  position: absolute;
  height: 219px;
  overflow: hidden;
  top: 0px;
  transition-duration: 0.5s;
  backface-visibility: hidden;
  opacity: 1;
  animation: lunbo 20s linear infinite;
}
@keyframes lunbo {
  0% {
    top: 0px;
  }
  33% {
    top: 0px;
  }
  34% {
    top: -73px;
  }
  66% {
    top: -73px;
  }
  67% {
    top: -146px;
  }
  99% {
    top: -146px;
  }
  100% {
    top: 0px;
  }
}
.screen-outer .container .main .main-bot > div > .headline-bd > div > .mod {
  float: none;
  overflow: hidden;
  height: 73px;
  display: block;
  width: 676px;
}
.screen-outer .container .main .main-bot > div > .headline-bd > div > .mod > a {
  display: block;
  height: 73px;
}
.screen-outer .container .main .main-bot > div > .headline-bd > div > .mod > a > img {
  float: left;
  height: 73px;
  width: 130px;
}
.screen-outer .container .main .main-bot > div > .headline-bd > div > .mod > a > h4 {
  margin-top: 2px;
  margin-left: 144px;
  color: #333;
  height: 28px;
  overflow: hidden;
  display: block;
  line-height: 28px;
  font-size: 16px;
  font-weight: 500;
}
.screen-outer .container .main .main-bot > div > .headline-bd > div > .mod > a > p {
  margin-left: 144px;
  color: #999;
  height: 36px;
  overflow: hidden;
  line-height: 18px;
  font-size: 14px;
}
.screen-outer .container .main .main-bot > div > .headline-bd > div > .mod > a:hover h4 {
  color: #ff5000;
}
.screen-outer .container .main .main-bot > div > .headline-bd > div:hover {
  animation-play-state: paused;
}
.screen-outer .container .col-right {
  float: right;
  width: 290px;
  margin-top: 10px;
  position: relative;
  background-color: #FFF !important;
}
.screen-outer .container .col-right > .log-in {
  background: url(../img/denglu-bg.png);
  background-size: 290px 145px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.screen-outer .container .col-right > .log-in > .member {
  padding: 3px 0 10px 0;
  height: 132px;
  padding-right: inherit;
  text-align: center;
  background-repeat: no-repeat;
}
.screen-outer .container .col-right > .log-in > .member > .member-bd {
  position: relative;
  height: 91px;
}
.screen-outer .container .col-right > .log-in > .member > .member-bd > div {
  display: block;
  margin: 0 auto;
  width: 74px;
  height: 56px;
}
.screen-outer .container .col-right > .log-in > .member > .member-bd > div > a {
  display: inline-block;
  border: 3px solid #fff;
  border-radius: 50%;
  background-clip: padding-box;
  width: 50px;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}
.screen-outer .container .col-right > .log-in > .member > .member-bd > div > a > img {
  width: 50px;
  height: 50px;
}
.screen-outer .container .col-right > .log-in > .member > .member-bd > span {
  display: block;
  line-height: 17px;
  height: 17px;
}
.screen-outer .container .col-right > .log-in > .member > .member-bd > span strong {
  font-weight: 400;
}
.screen-outer .container .col-right > .log-in > .member > .member-bd > p {
  height: 17px;
  line-height: 17px;
}
.screen-outer .container .col-right > .log-in > .member > .member-bd > p > a {
  display: inline-block;
  border-radius: 9px;
  background-clip: padding-box;
  background: #ffe4db;
  padding: 0 10px 0 20px;
  position: relative;
  border: none;
  color: #ff5000!important;
}
.screen-outer .container .col-right > .log-in > .member > .member-bd > p > a span {
  position: absolute;
  top: 0;
  display: block;
  left: 0;
  height: 16px;
  width: 16px;
  background: url(../img/jinglingtu.png) 0 -572.5px no-repeat;
}
.screen-outer .container .col-right > .log-in > .member > .member-bd > p > a:nth-child(2) {
  margin-left: 3px;
}
.screen-outer .container .col-right > .log-in > .member > .member-bd > p > a:nth-child(2) span {
  background-position: 0 -528px;
}
.screen-outer .container .col-right > .log-in > .member > .member-ft {
  height: 40px;
  overflow: hidden;
  margin-top: 2px;
  padding-left: 15px;
}
.screen-outer .container .col-right > .log-in > .member > .member-ft > div {
  height: 25px;
  margin-top: 8px;
}
.screen-outer .container .col-right > .log-in > .member > .member-ft > div > a {
  float: left;
  line-height: 25px;
  width: 75px;
  margin-right: 7px;
  text-align: center;
  color: #FFF;
  background-image: linear-gradient(to right, #ff5000 0, #ff6f06 100%);
  background-repeat: repeat-x;
  border-radius: 4px;
  background-clip: padding-box;
  font-size: 14px;
  font-weight: 700;
}
.screen-outer .container .col-right > .log-in > .member > .member-ft > div > a:nth-child(1) {
  width: 92px;
}
.screen-outer .container .col-right > .tipoff a {
  position: relative;
  padding-left: 82px;
  color: #f40;
  display: block;
  height: 26px;
  line-height: 26px;
  background: #ffe4dd;
  font-size: 12px;
}
.screen-outer .container .col-right > .tipoff a span {
  position: absolute;
  right: 52px;
  top: 9px;
  line-height: 0;
  width: 0;
  height: 0;
  border-style: solid;
  margin-left: 32px;
  border-width: 5px 0 5px 7px;
  border-color: transparent transparent transparent #f40;
}
.screen-outer .container .col-right > .notice {
  height: 98px;
  padding-top: 10px;
  width: 290px;
  background-color: #FFF;
}
.screen-outer .container .col-right > .notice > ul {
  position: relative;
  height: 24px;
  margin-top: 4px;
  overflow: hidden;
  margin-right: -2px;
  padding: 0 8px;
}
.screen-outer .container .col-right > .notice > ul li {
  float: left;
  line-height: 20px;
  width: 32px;
  text-align: center;
  margin: 0 11px;
}
.screen-outer .container .col-right > .notice > ul li a:hover {
  color: #F40;
}
.screen-outer .container .col-right > .notice > ul > .selected {
  padding: 0;
  font-weight: 700;
  border-bottom: 2px solid #F40;
}
.screen-outer .container .col-right > .notice > ul > .selected a:hover {
  color: #F40;
}
.screen-outer .container .col-right > .notice > div > ul {
  margin: 0 12px;
  height: 50px;
  overflow: hidden;
  padding-top: 9px;
  padding-bottom: 6px;
  display: none;
}
.screen-outer .container .col-right > .notice > div > ul > li {
  float: left;
  line-height: 25px;
  height: 25px;
  width: 130px;
  overflow: hidden;
}
.screen-outer .container .col-right > .notice > div > ul > li:nth-child(1) a,
.screen-outer .container .col-right > .notice > div > ul > li:nth-child(2) a {
  color: #ff5000!important;
}
.screen-outer .container .col-right > .notice > div > .notice-bd-ul {
  display: block;
}
.screen-outer .container .col-right > .notice > div > ul:nth-child(1) > li:nth-child(1) {
  width: 260px;
}
.screen-outer .container .col-right > .notice > div > ul:nth-child(1) > li:nth-child(2) a {
  color: #3C3C3C !important;
}
.screen-outer .container .col-right > .conve {
  background-color: #FFF !important;
  border-top: 1px solid #f4f4f4;
}
.screen-outer .container .col-right > .conve > ul {
  width: 294px;
}
.screen-outer .container .col-right > .conve > ul > li {
  float: left;
  width: 71px;
  height: 75px;
  border: 1px solid #f4f4f4;
  border-left-color: transparent;
  border-top-color: transparent;
}
.screen-outer .container .col-right > .conve > ul > li > a {
  padding-top: 1px;
  text-align: center;
  display: block;
}
.screen-outer .container .col-right > .conve > ul > li > a > span {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-top: 11px;
  background: url(../img/jinglingtu.png) 0 0 no-repeat;
}
.screen-outer .container .col-right > .conve > ul > li > a > p {
  line-height: 24px;
}
.screen-outer .container .col-right > .conve > ul > li > a > .item2 {
  background-position: 0 -87px;
}
.screen-outer .container .col-right > .conve > ul > li > a > .item3 {
  background-position: 0 -44px;
}
.screen-outer .container .col-right > .conve > ul > li > a > .item4 {
  background-position: 0 -132px;
}
.screen-outer .container .col-right > .conve > ul > li > a > .item5 {
  background-position: 0 -176px;
}
.screen-outer .container .col-right > .conve > ul > li > a > .item6 {
  background-position: 0 -220px;
}
.screen-outer .container .col-right > .conve > ul > li > a > .item7 {
  background-position: 0 -264px;
}
.screen-outer .container .col-right > .conve > ul > li > a > .item8 {
  background-position: 0 -308px;
}
.screen-outer .container .col-right > .conve > ul > li > a > .item9 {
  background-position: 0 -352px;
}
.screen-outer .container .col-right > .conve > ul > li > a > .item10 {
  background-position: 0 -396px;
}
.screen-outer .container .col-right > .conve > ul > li > a > .item11 {
  background-position: 0 -440px;
}
.screen-outer .container .col-right > .conve > ul > li > a > .item12 {
  background-position: 0 -484px;
}
.screen-outer .container .col-right > .conve > ul > .min {
  width: 70px;
}
.screen-outer .container .col-right > .ali-app {
  padding-top: 1px;
  position: relative;
  height: 110px;
  margin-top: 0;
}
.screen-outer .container .col-right > .ali-app > h3 {
  font-size: 14px;
  padding-left: 14px;
  height: 30px;
  line-height: 30px;
  position: relative;
  z-index: 2;
  font-weight: 900;
}
.screen-outer .container .col-right > .ali-app > h3 > a {
  position: absolute;
  right: 10px;
  font-size: 12px;
  font-weight: 400;
}
.screen-outer .container .col-right > .ali-app > h3 > a > i {
  position: relative;
  left: -4px;
  font-size: 12px;
}
.screen-outer .container .col-right > .ali-app > ul {
  padding-left: 23px;
  position: relative;
  height: 84px;
}
.screen-outer .container .col-right > .ali-app > ul > li {
  transition: all 0s;
  position: relative;
  float: left;
  width: 32px;
  height: 32px;
  margin-right: 21px;
  margin-bottom: 8px;
}
.screen-outer .container .col-right > .ali-app > ul > li > a > img {
  width: 32px;
  height: 32px;
}
.screen-outer .container .col-right > .ali-app > ul > li > div {
  touch-action: none;
  bottom: 39px;
  left: -32px;
  width: 90px;
  height: 102px;
  background: #FFF;
  border: 1px solid #dedede;
  text-align: center;
  display: none;
  position: absolute;
  z-index: -1;
}
.screen-outer .container .col-right > .ali-app > ul > li > div > img {
  width: 66px;
  height: 66px;
  padding: 12px;
}
.screen-outer .container .col-right > .ali-app > ul > li > div > p {
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
  height: 20px;
  line-height: 20px;
  color: #666;
  overflow: hidden;
}
.screen-outer .container .col-right > .ali-app > ul > li:hover div {
  z-index: 22;
  display: block;
}
